@font-face {
  font-family: 'Montserrat';
src: url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
    url('../fonts/montserrat-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat-semibold-webfont.woff2') format('woff2'),
    url('../fonts/montserrat-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat-bold-webfont.woff2') format('woff2'),
    url('../fonts/montserrat-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat-extrabold-webfont.woff2') format('woff2'),
    url('../fonts/montserrat-extrabold-webfont.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

:root {
  --color-yellow-light: #ff9900;
  --color-yellow-dark: #e1670e;
  --color-yellow-dark-alpha: rgba(255, 153, 0, 0.7);
}

* {
  box-sizing: border-box;
  margin: 0;
	padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0 auto;
}

.container {
  max-width: 2560px;
  padding: 0px 75px;
  margin: 0 auto;
}

.section-title {
  font-size: 48px;
  font-weight: 400;
  line-height: 59px;
}

/* Header */
.header-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 100px;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}

.header__logo {
  width: 224px;
  height: 72px;
  margin-right: auto;
}

.header__logo:focus {
  outline: 2px solid var(--color-yellow-light);
}

.header__logo-img {
  width: 100%;
  height: 100%;
}

.header__nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 715px;
  list-style-type: none;
  padding: 0;
  margin-top: 3px;
}

.header__nav-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 28px;
  padding: 5px;
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  text-decoration: none;
  color: #333333;
  transition: color .1s linear;
  -moz-appearance: initial;
}

.header__nav-link::before {
  position: absolute;
  content: '';
  width: 100%;
  top: 35px;
  height: 2px;
  background-color: var(--color-yellow-light);
  visibility: hidden;
  opacity: 0;
  transition: visibility .2s linear, opacity .15s linear, top .1s linear, background-color .2s linear;
}

.header__nav-link:hover::before {
  top: 28px;
  visibility: visible;
  opacity: 1;
}

.header__nav-link:active::before {
  background-color: var(--color-yellow-dark);
}

.header__nav-link:focus {
  outline: 2px solid var(--color-yellow-light);
}

.header__nav-link:hover {
  outline: none;
}

.header__nav-link:active {
  color: var(--color-yellow-dark);
  outline: none;
}

.search-img {
  width: 25px;
  height: 25px;
}

.header__btn-search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none;
  outline: none;
  margin-left: 73px;
}

.header__btn-search:hover {
  cursor: pointer;
}

.svg-rect {
  transition: fill .1s linear;
}

.svg-circle {
  transition: stroke .1s linear;
}

.header__btn-search:focus {
  border: 2px solid var(--color-yellow-light);
}

.header__btn-search:hover {
  border: none;
}

.header__btn-search:hover .svg-rect {
  fill:var(--color-yellow-light);
}

.header__btn-search:hover .svg-circle {
  stroke: var(--color-yellow-light);
}

.header__btn-search:active .svg-rect {
  fill:var(--color-yellow-light);
}

.header__btn-search:active .svg-circle {
  stroke: var(--color-yellow-light);
}

.header__btn-search::-moz-focus-inner {
  border: 0;
}

.header__btn-burger {
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 12;
  width: 40px;
  height: 33px;
  background-color: transparent;
  border: none;
  outline: none;
  transform: scale(-1, 1);
  margin-top: 3px;
}

.header__burger-img {
  width: 30px;
  height: 23px;
}

.header__btn-burger:hover {
  cursor: pointer;
}

.btn-burger__rect {
  right: 0px;
  transition: fill .1s linear, width .15s linear;
}

.header__btn-burger:focus {
  border: 2px solid var(--color-yellow-light);
}

.header__btn-burger:active .btn-burger__rect {
  fill: var(--color-yellow-dark);
}

.header__btn-burger:active {
  border: none;
}

.header__btn-burger:active .rect-2 {
  width: 25px;
}

.header__btn-burger:active .rect-3 {
  width: 18px;
}

.burger__nav-list {
  list-style-type: none;
}

.burger-menu {
  display: none;
  position: absolute;
  padding: 20px 55px;
  background-color: #ffffff;
  top: 100px;
  z-index: 10;
  transform: translateX(-262px);
  transition: transform .3s;
  background-color: #f7f7f7;
}

.burger__nav-item:not(:last-child){
  margin-bottom: 20px;
}

.burger__nav-list {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.burger-menu_shown {
  transform: translateX(-50px);
}

/* Hero */
 .hero-container {
  margin-bottom: 104px;
}

.hero-slide {
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-slide-1 {
  background-image: url(../img/hero-1920-1.jpg);
}

.hero-slide-2 {
  background-image: url(../img/hero-1920-2.jpg);
}

.hero-slide-3 {
  background-image: url(../img/hero-1920-3.jpg);
}

.hero-swiper {
  height: 620px;
  position: relative;
}

.swiper-pagination {
  margin-bottom: 15px;
  height: 20px;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: #ffffff !important;
}

.swiper-pagination-bullet:focus {
  outline: 2px solid var(--color-yellow-light);
}

.swiper-pagination-bullet {
  margin: 0 !important;
}

.swiper-pagination-bullet:not(:last-child) {
  margin-right: 20px !important;
}

.swiper-pagination-bullet-active {
  background: #ffffff;
}

.hero__content {
  z-index: 2;
  position: absolute;
  padding: 105px 25px 20px 80px;
}

.hero__title {
  max-width: 817px;
  font-weight: 800;
  font-size: 70px;
  line-height: 86px;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.hero__text {
  max-width: 817px;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  color: #FFFFFF;
  margin-bottom: 87px;
}

.hero__link {
  display: inline-block;
  text-align: center;
  font-size: 23px;
  font-weight: 700;
  line-height: 29px;
  min-width: 280px;
  min-height: 80px;
  padding: 28px 10px 23px 12px;
  background-color: var(--color-yellow-light);
  color: #ffffff;
  text-decoration: none;
  outline: none;
  margin-bottom: 40px;
  transition: background-color .1s linear;
}

.hero__link:focus {
  background-color: var(--color-yellow-dark-alpha);
}

.hero__link:hover  {
  background-color: var(--color-yellow-dark-alpha);
}

.hero__link:active {
  background-color: var(--color-yellow-dark);
}

/* about-us */
.about-us__title {
  margin-left: 2px;
  margin-bottom: 18px;
}

.about-us__main-text {
  font-size: 16px;
  min-height: 192px;
  line-height: 32px;
  max-width: 1235px;
  margin-bottom: 48px;
}

.about-us__blocks-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 622px;
}

.about-us__main-block {
  position: relative;
  background-image: url(../img/about-us-1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  min-height: 622px;
  width: 49.04%;
}

.about-us__main-block-text-container {
  position:absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 31.5%;
  padding: 10px 50px;
  background: rgba(0, 0, 0, 0.5);
}

.about-us__main-block-text {
  font-weight: 700;
  line-height: 32px;
  max-width: 480px;
  color: #fff;
  margin-right: 10px;
}

.about-us__main-block-link {
  display: inline-block;
  text-align: center;
  min-width: 175px;
  min-height: 60px;
  font-weight: 700;
  line-height: 20px;
  border: 3px solid var(--color-yellow-light);
  outline: none;
  padding: 18px 15px 15px 15px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: background-color .1s linear, border-color .1s linear;
}

.about-us__main-block-link:hover {
  background-color: var(--color-yellow-light);
}

.about-us__main-block-link:focus {
  background-color: var(--color-yellow-light);
}

.about-us__main-block-link:active  {
  background-color: var(--color-yellow-dark);
  border-color: var(--color-yellow-dark);
}

.about-us__secondary-blocks-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 49.15%;
  list-style-type: none;
}

.about-us__list-item {
  min-height: 47.43%;
  border: 1px solid #CACACA;
  padding: 64px 115px 20px 299px;
  line-height: 32px;
}

.about-us__item-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 6px;
}

.about-us__item-text {
  line-height: 32.5px;
}

.about-us__list-item-01 {
  background-image: url(../img/cube.svg), url(../img/ellipse.svg);
  background-repeat: no-repeat;
  background-size: 119px 132px, 120px 120px;
  background-position: 130px 64px, 59px 108px;
  margin-bottom: 30px;
}

.about-us__list-item-02 {
  background-image: url(../img/gear.svg), url(../img/ellipse.svg);
  background-repeat: no-repeat;
  background-size: 136px 136px, 128px 128px;
  background-position: 113px 64px, 59px 101px;
}

.about-us-container {
  margin-bottom: 104px;
}

/* how we work */
.work-container {
  margin-bottom: 105px;
}

.work__title {
  margin-bottom: 42px;
}

.work__tab-control {
  display: flex;
  margin-bottom: 41px;
  list-style-type: none;
  margin-left: -4px;
}

.work__tab-control-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}

.work__tab-control-link {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 57px;
  height: 32px;
  font-size: 18px;
  text-decoration: none;
  color: #333;
}

.work__tab-control-link:focus {
  outline: 2px solid var(--color-yellow-light);
  color: #333;
}

.work__tab-control-link:active {
  color: var(--color-yellow-dark);
}

.work__tab-control-link:hover {
  color: var(--color-yellow-light);
  outline: none;
}

.ui-tabs-tab:not(:last-child) {
  margin-right: 79px;
}

.work__tab-text-info {
  padding-right: 5.8%;
  width: 49.15%;
  outline: none;
}

.work__tab-subtitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 7px;
}

.work__tab-text {
  font-family: 'Montserrat', sans-serif;
  line-height: 32px;
  margin-bottom: 49px;
}

.work__tab-img {
  width: 49.1%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 8px;
}

.tab-1-img {
  background-image: url(../img/we-work-1920-1.jpg);
}

.tab-2-img {
  background-image: url(../img/we-work-2.jpg);
}

.tab-3-img {
  background-image: url(../img/we-work-3.jpg);
}

.tab-4-img {
  background-image: url(../img/we-work-4.jpg);
}

.work__btns-wrapper {
  left: 0;
  bottom: 8px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.work__link-details {
  display: inline-block;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  min-width: 175px;
  min-height: 60px;
  margin-right: 32px;
  padding: 21px 11px 8px 7px;
  background: var(--color-yellow-light);
  outline: none;
  color: #ffffff;
  text-decoration: none;
  transition: background-color .1s linear;
}

.work__link-contract {
  display: inline-block;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  min-width: 147px;
  min-height: 59px;
  padding: 20px 11px 16px 12px;
  border: 1px solid #333333;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  color: #333333;
  text-decoration: none;
  transition: background-color .1s linear, color .1s linear;
}

.work__link-details:hover {
  background-color: var(--color-yellow-dark-alpha);
}

.work__link-details:focus {
  background-color: var(--color-yellow-dark-alpha);
}

.work__link-details:active {
  background-color: var(--color-yellow-dark);
}

.work__link-contract:hover, .work__link-contract:focus {
  color: #ffffff;
  background-color: #666666;
  border-color: #666666;
}

.work__link-contract:active {
  background-color: #000000;
  border-color: #000000;
}

.ui-widget-header {
  border: none;
  background-color: transparent;
}

.ui-state-active a {
  color: var(--color-yellow-dark);
}

.work__tab-content {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  min-height: 468px;
}

/* questions */
.questions-container {
  margin-bottom: 96px;
}

.questions__title {
  margin-bottom: 38px;
}

.questions__list {
  list-style: none;
}

.questions__subtitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  transition: color .1s linear, border .1s linear;
  color: #333333;
  min-height: 111px;
  padding: 28px 0px;
  outline: none;
  cursor: pointer;
}

.ui-accordion-content-active {
  height: auto;
}

.questions__subtitle-icon {
  min-width: 50px;
  height: 50px;
  margin-bottom: 4px;
  margin-left: 95px;
  transition: transform .35s linear;
}

.questions__list-item {
  outline: none;
  border-top: 1px solid #cacaca;
}

.questions-list__last-question-border-bottom {
  border-bottom: 1px solid #cacaca;
}

.questions__list-item:hover {
  border-color: var(--color-yellow-light);
}

.questions__list-item:hover .questions__subtitle {
  color: var(--color-yellow-light);
}

.questions__list-item:hover .questions__subtitle-icon ellipse {
  transition: fill .1s linear;
  fill: var(--color-yellow-light)
}

.questions__list-item:hover .questions__subtitle-icon path {
  transition: fill .1s linear;
  fill: white;
}

.questions__list-item:hover + .questions__list-item {
  border-color: var(--color-yellow-light);
}

.questions__list-item:hover:nth-last-child(2) + .questions-list__last-question-border-bottom {
  border-color: var(--color-yellow-light);
}

.ui-accordion-header-active .questions__subtitle-icon {
  transform: rotate(-45deg);
}

.questions__list-item:focus {
  border-color: var(--color-yellow-light);
  color: var(--color-yellow-light);
}

.questions__list-item:focus .questions__subtitle-icon ellipse {
  transition: fill .1s linear;
  fill: var(--color-yellow-light)
}

.questions__list-item:focus .questions__subtitle-icon path {
  transition: fill .1s linear;
  fill: white;
}

.questions__list-item:focus .questions__subtitle {
  color: var(--color-yellow-light);
}

.questions__list-item:focus + .questions__list-item {
 border-color: var(--color-yellow-light);
}

.questions__list-item:focus:nth-last-child(2) + .questions-list__last-question-border-bottom {
  border-color: var(--color-yellow-light);
}

.questions-list__last-question-border-bottom {
  margin: 0;
  padding: 0;
  min-height: 0px;
}

.questions__description {
  display: flex;
  flex-direction: column;
  max-width: 1003px;
  outline: none;
}

.questions__description-text {
  margin-bottom: 40px;
}

.questions__description-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: #333;
}

.ui-accordion-header-icon {
  display: none;
}

/* footer */
.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 630px;
  padding: 50px 75px;
  background-color: #222222;
}

.footer__logo {
  width: 230px;
  margin-bottom: 25px;
}

.footer__logo:focus {
  outline: 2px solid var(--color-yellow-light);
}

.footer__nav {
  margin-bottom: 78px;
}

.footer__nav-list {
  list-style-type: none;
}

.footer__nav-link {
  width: 224px;
  height: 72px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #CACACA;
  text-decoration: none;
  transition: color .1s linear;
}

.footer__nav-link:focus {
  outline: 2px solid var(--color-yellow-light);
}

.footer__nav-link:hover {
  outline: none;
  color: var(--color-yellow-light);
}

.footer__nav-link:active {
  color: var(--color-yellow-dark);
}

.footer__nav-item {
  margin-bottom: 14px;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  width: 240px;
  margin-left: -5px;
}

.footer__social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
}

.footer__social-img {
  width: 60px;
  height: 60px;
  transition: fill .1s linear;
}

.footer__social-link {
  outline: none;

}

.footer__social-img {
  fill: #7c7c7c;
}

.footer__social-link:focus {
  outline : 2px solid var(--color-yellow-light);
}

.footer__social-link:hover  {
  outline: none;
}

.footer__social-link:hover .footer__social-img {
  fill: var(--color-yellow-light);
}

.footer__social-link:active .footer__social-img{
  fill: var(--color-yellow-dark);
}

.footer__logo-social-nav-conainer {
  display: flex;
  flex-direction: column;
  width: 366px;
  justify-content: start;
  margin-right: 20px;
}

.footer__text-info {
  font-size: 16px;
  line-height: 32px;
  max-width: 363px;
  color: #CACACA;
  padding-top: 88px;
}

.footer__feedback {
  display: flex;
  flex-direction: column;
  max-width: 570px;
  margin-top: 5px;
  margin-right: 20px;
  outline: none;
  border: none;
}

.footer__feedback input:invalid {
  box-shadow: none;
}

.footer__feedback-title {
  color: #CACACA;
  margin-left: -3px;
  margin-bottom: 20px;
}

.feedback__input {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: #ffffff;
  min-height: 60px;
  background-color: #414141;
  outline: none;
  border: none;
  margin-bottom: 25px;
  padding-top: 2px;
  padding-left: 22px;
  transition: background-color .08s linear;
}

.feedback__input::-webkit-input-placeholder {
  color: #CACACA;
}

.feedback__input:focus::-webkit-input-placeholder {
  color:transparent;
}

.feedback__input:hover, .feedback__input:active, .feedback__input:focus {
  background-color: #666666;
}

.feedback__label {
  position: relative;
  line-height: 32px;
  color: #CACACA;
  white-space: nowrap;
  margin-left: 18px;
}

.message__input {
  padding-top: 15px;
  resize: none;
  height: 150px;
  margin-bottom: 31px;
}

.feedback__btn {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 269px;
  height: 60px;
  padding: 12px 33px 9px 30px;
  outline: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
  background-color: var(--color-yellow-light);
  margin-right: 14px;
  transition: background-color .1s linear;
  margin-bottom: 10px;
}

.feedback__btn:hover {
  background-color: var(--color-yellow-dark-alpha);
}

.feedback__btn:active {
  background-color: var(--color-yellow-dark);
}

.feedback__btn:focus {
  background-color: var(--color-yellow-dark-alpha);
}

.feedback__btn::-moz-focus-inner {
  border: 0;
}

.feedback__checkbox {
  -moz-appearance: initial;
  box-shadow: none;
  width: 0;
  height: 0;
  outline: 0;

}

.feedback__checkbox::before {
  position: absolute;
  content: '';
  top: 0px;
  left: -17px;
  width: 12px;
  height: 12px;
  border: 1px solid #CACACA;
}

.feedback__checkbox:checked::before {
  background-image: url(../img/check.svg);
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: 1px top;
}

.feedback__checkbox:focus::before {
  border-color: var(--color-yellow-light);
  outline: 2px solid var(--color-yellow-light);
}

@media (max-width: 1564px) {

  .container {
    padding-left: 50px;
    padding-right: 50px;
  }

  .footer__text-info {
    display: none;
  }

  .header__logo {
    width: 150px;
    height: 48px;
  }

  .header__nav-list {
    width: 600px;
  }

  .about-us__blocks-container {
    flex-direction: column;
  }

  .about-us__main-block {
    margin-bottom: 32px;
    width: 100%;
  }

  .about-us__secondary-blocks-list {
    width: 100%;
  }

  .about-us__list-item {
    padding: 64px 130px 20px 316px;
    min-height: 295px;
  }

}

@media (max-width: 1024px) {

  .header-container {
    justify-content: space-between;
    padding: 2px 45px;
  }

  .header__logo {
    margin-right: 0;
  }

  .header__nav {
    display: none;
  }

  .header__btn-burger {
    display: flex;
    margin-top: 0;
  }

  .burger-menu {
    display: initial;
  }

  .header__btn-search {
    margin-left: 10px;
  }

  .hero__title {
    font-size: 60px;
    line-height: 73px;
    margin-bottom: 12px;
  }

  .hero__content {
    padding: 164px 15px 10px 77px;
  }

  .hero-container {
    margin-bottom: 85px;
  }

  .hero-slide-1 {
    background-image: url(../img/hero-1024-1.jpg);
  }

  .hero-swiper {
    min-height: 668px;
  }

  .hero__text {
    max-width: 700px;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 59px;
  }

  .hero__link {
    min-width: 280px;
    margin-left: 0px;
    letter-spacing: 0.5px;
  }

  .about-us-container {
    margin-bottom: 85px;
  }

  .about-us__title {
    margin-bottom: 5px;
    margin-left: 0px;
  }

  .about-us__main-text {
    margin-bottom: 62px;
  }

  .about-us__main-block {
    min-height: 640px;
    background-image: url(../img/about-us-1024.jpg);
  }

  .about-us__main-block-text-container {
    height: 30.58%;
    padding: 11px 50px 10px 50px;
  }

  .about-us__list-item:not(:last-child) {
    margin-bottom: 32px;
  }

  .about-us__list-item-01 {
    background-position: 147px 64px, 75px 109px;
  }

  .about-us__list-item-02 {
    background-position: 130px 63px, 76px 101px;
  }

  .work-container {
    margin-bottom: 86px;
  }

  .work__title {
    margin-bottom: 41px;
  }

  .work__tab-control {
    margin-bottom: 46px;
  }

  .work__tab-content {
    padding-top: 2px;
  }

  .work__tab-subtitle {
    margin-left: 0px;
    margin-top: -2px;
  }

  .work__tab-text {
    margin-bottom: 23px;
  }

  .work__tab-text-info {
    padding-right: 1.8%;
  }

  .work__link-details {
    padding: 22px 8px 8px 8px;
  }

  .tab-1-img {
    background-image: url(../img/we-work-1024-1.jpg);
    width: 47.3%;
  }

  .questions__title {
    margin-bottom: 27px;
  }

  .questions__subtitle {
    font-size: 20px;
    padding: 30px 0;
  }

  .questions-container {
    margin-bottom: 77px;
  }

  .questions__subtitle-icon {
    margin-bottom: 0;
  }

  .footer-container {
    padding: 50px 49px;
  }

  .footer__logo-social-nav-conainer, .footer__feedback {
    margin-right: 0;
  }

  .footer__logo-social-nav-conainer {
    width: 340px;
  }

  .footer__feedback-title {
    margin-bottom: 20px;
    margin-left: -2px;
  }

  .feedback__btn {
    width: 240px;
    margin-right: 20px;
  }

  .feedback__label {
    margin-left: 15px;
  }

}

@media (max-width: 889px) {

  .hero__title {
    font-size: 50px;
  }

}

@media (max-width: 880px) {

  .about-us__list-item-01 {
    background-size: 74px 79px, 72px 72px;
    background-position: 80px 67px, 39px 94px;
  }

  .about-us__list-item-02 {
    background-size: 80px 88px, 78px 78px;
    background-position: 72px 64px, 39px 88px;
  }

  .about-us__list-item {
    padding: 36px 35px 20px 176px;
    min-height: 235px;
  }

  .work__tab-content {
    flex-direction: column;
  }

  .work__tab-control {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 34px;
  }

  .work__tab-img {
    order: 1;
    width: 100%;
    min-height: 285px;
    margin-bottom: 41px;
  }

  .tab-1-img {
    background-image: url(../img/we-work-768-1.jpg);
  }

  .work__tab-text-info {
    order: 2;
    padding-right: 0;
    width: 100%;
  }

  .work__label {
    margin-right: 0;
  }

}

@media (max-width: 768px) {

  .header-container {
    min-height: 70px;
  }

  .header__btn-search {
    margin-top: 0px;
  }

  .header__btn-burger {
    margin-top: -3px;
  }

  .burger-menu {
    top: 70px;
  }

  .hero__content {
    padding: 161px 40px 10px 40px;
  }

  .hero-slide-1 {
    background-image: url(../img/hero-768-1.jpg);
  }

  .hero__title {
    line-height: 62px;
    margin-bottom: 14px;
  }

  .hero__text {
    font-size: 18px;
    line-height: 22px;
  }

  .hero-swiper {
    min-height: 662px;
  }

  .about-us__title {
    margin-bottom: 5px;
  }

  .about-us__main-text {
    margin-bottom: 60px;
  }

  .about-us__main-block {
    background-image: url(../img/about-us-768.jpg);
    min-height: 650px;
  }

  .about-us__main-block-text-container {
    padding: 10px 40px;
    height: 30.2%;
  }

  .about-us__main-block-text {
    margin-right: 50px;
  }

  .about-us__list-item {
    padding: 34px 35px 20px 169px;
  }

  .work__title {
    margin-bottom: 39px;
  }

  .ui-tabs-tab {
    margin-right: -5px !important;
  }

  .questions__title {
    margin-left: 0px;
  }

  .questions__subtitle:not(:last-child) {
    padding: 30px 0px;
  }

  .questions__subtitle-icon {
    margin-left: 45px;
  }

  .questions-container {
    margin-bottom: 79px;
  }

  .questions__subtitle:nth-child(5) .questions__subtitle-icon {
    margin-bottom: 14px;
  }

  .questions__subtitle:nth-child(9) .questions__subtitle-icon {
    margin-bottom: 14px;
  }

  .footer__logo {
    margin-bottom: 9px;
  }

  .footer__nav {
    display: none;
  }

  .footer-container {
    flex-direction: column;
  }

  .footer__feedback {
    max-width: 543px;
    margin-bottom: 48px;
    order: 1;
  }

  .message__input {
    margin-bottom: 32px;
  }

  .footer__feedback-title {
    margin-left: 0;
  }

  .feedback__input {
    padding-left: 25px;
  }

  .feedback__btn {
    padding: 9px 33px 9px 35px;
    margin-bottom: 0;
  }

  .footer__logo-social-nav-conainer {
    order: 2;
    width: 100%;
  }

}

@media (max-width: 766px) {

  .about-us__main-block {
    margin-bottom: 230px;
  }

  .about-us__main-block-text-container {
    bottom: -180px;
    left: -1px;
    width: 101%;
    padding: 0;
    background-color: #ffffff;
    flex-direction: column;
    align-items: flex-start;
  }

  .about-us__main-block-text {
    font-weight: 400;
    margin-right: 0;
    margin-bottom: 10px;
    color: #333;
  }

  .about-us__main-block-link {
    color: var(--color-yellow-light);
    justify-content: center;
    border: 2px solid var(--color-yellow-light);
    margin-left: 1px;
  }

  .about-us__main-block-link:hover,
  .about-us__main-block-link:focus {
    color: #ffffff;
  }

}

@media (max-width: 630px) {

  .hero__title {
    font-size: 39px;
    line-height: 50px;
    margin-bottom: 16px;
  }

  .hero__text {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 50px;
  }

  .hero__link {
    font-size: 12px;
    line-height: 15px;
    min-height: 40px;
    min-width: 162px;
    padding: 13px 10px 10px 12px;
    margin-bottom: 5px;
  }

  .hero__content {
    padding: 108px 34px;
  }

  .hero-swiper {
    height: 262px;
  }

}

@media (max-width: 500px) {

  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .about-us__main-block {
    margin-bottom: 250px;
  }

  .about-us__list-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    padding: 81px 5px 2px 0px;
    min-height: 250px;
    border: none;
  }

  .about-us__list-item-01 {
    background-position: 21px 17px, 0px 23px;
    background-size: 43px 47px, 43px 43px;
  }

  .about-us__list-item:not(:last-child) {
    margin-bottom: 6px;
  }

  .about-us__list-item-02 {
    background-position: 18px 9px, 0px 23px;
    background-size: 45px 48px, 43px 43px;
  }

  .about-us__item-title {
    font-size: 17.4px;
    line-height: 22px;
    margin-bottom: 5px;
  }

  .about-us__item-text {
    line-height: 28px;
  }

  .about-us-container {
    margin-bottom: 60px;
  }

  .work__link-details {
    min-width: 162px;
    min-height: 39px;
    font-size: 12px;
    line-height: 15px;
    margin-right: 5px;
    padding: 11px 10px 11px 10px;
  }

  .work__link-contract {
    min-width: 118px;
    min-height: 40px;
    font-size: 12px;
    line-height: 15px;
    padding: 11px 10px 11px 10px;
  }

  .questions__subtitle:not(:last-child) {
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
  }

}

@media (max-width: 320px) {

  .section-title {
    font-size: 24px;
    line-height: 29px;
  }

  .header__logo {
    width: 109px;
    height: 34px;
    margin-right: 0px;
  }

  .header-container {
    padding: 0 10px;
  }

  .header__btn-burger {
    margin-top: -1px;
  }

  .hero-container {
    margin-bottom: 61px;
  }

  .hero-slide-1 {
    background-image: url(../img/hero-320-1.jpg);
  }

  .hero-swiper {
    min-height: 308px;
  }

  .hero__title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 6px;
  }

  .hero__text {
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    margin-bottom: 34px;
  }

  .hero__content {
    text-align: center;
    min-height: 100%;
    padding: 60px 20px;
  }

  .hero__link {
    font-size: 11px;
    padding-top: 12px;
  }

  .swiper-pagination {
    margin-bottom: 4px;
    height: 15px;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }

  .about-us__title {
    margin-bottom: 20px;
  }

  .about-us__main-text {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 28px;
  }

  .about-us__main-block {
    background-image: url(../img/about-us-320.jpg);
    background-size: 100%;
    min-height: 200px;
    margin-bottom: 215px;
  }

  .about-us__main-block-text-container {
    bottom: -70px;
  }

  .about-us__list-item-02 {
    background-position: 20px 20px, 0px 28px;
    background-size: 45px 48px, 43px 43px;
  }

  .about-us__main-block-link {
    font-size: 12px;
    line-height: 15px;
    min-height: 40px;
    min-width: 162px;
    padding: 11px 5px 2px 5px;
  }

  .about-us__main-block-text {
    font-size: 14px;
    line-height: 28px;
    margin-right: 0;
    margin-bottom: 10px;
    color: #333;
  }

  .about-us__item-title {
    font-size: 18.2px;
    font-weight: 400;
  }

  .work__title {
    margin-bottom: 20px;
  }

  .work__tab-control-link {
    font-size: 13px;
  }

  .work__tab-control-list-item {
    width: 44px;
    height: 16px;
  }

  .work__tab-control {
    margin-bottom: 6px;
  }

  .tab-1-img  {
    background-image: url(../img/we-work-320-1.jpg);
    min-height: 160px;
    margin-bottom: 20px;
  }

  .work__tab-text {
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 15px;
  }

  .work__slider-controls {
    margin-bottom: 7px;
  }

  .work__tab-subtitle {
    font-size: 17.5px;
    margin-bottom: 7px;
  }

  .work-container {
    margin-bottom: 62px;
  }

  .work__btns-wrapper {
    justify-content: space-between;
  }

  .questions__title {
    margin-bottom: 14px;
  }

  .questions-container {
    margin-bottom: 60px;
  }

  .questions__subtitle:nth-child(5) .questions__subtitle-icon {
    margin-bottom: 0px;
  }

  .questions__subtitle:nth-child(9) .questions__subtitle-icon {
    margin-bottom: 0px;
  }

  .questions__answer-paragraph {
    font-size: 12px;
    line-height: 15px;
    max-width: 100%;
  }

  .questions__subtitle-icon {
    margin-left: 15px;
    min-width: 30px;
    height: 30px;
  }

  .questions__subtitle:not(:last-child) {
    min-height: 109px;
  }

  .questions__description-text {
    font-size: 14px;
  }

  .footer-container {
    padding: 29px 15px;
  }

  .footer__logo {
    margin-bottom: 13px;
  }

  .footer__logo-social-nav-conainer {
    align-items: center;
    padding-top: 17px;
    width: 100%;
  }

  .footer__feedback {
    width: 100%;
    padding-bottom: 15px;
    margin-bottom: 0;
    border-bottom: 1px solid #595959;
  }

  .footer__feedback-title {
    margin-left: -1px;
    margin-bottom: 19px;
  }

  .feedback__input {
    font-size: 14px;
    width: 100%;
    padding-left: 20px;
  }

  .feedback__label {
    font-size: 16px;
    margin-left: 24px;
  }

  .footer__logo-img {
    width: 131px;
    height: 42px;
  }

  .footer__social-list {
    width: 100%;
    margin-left: 0px;
    justify-content: center;
  }

  .footer__social-img {
    width: 40px;
    height: 40px;
  }

  .footer__social-item {
    width: 40px;
    height: 40px;
  }

  .footer__social-item:not(:last-child) {
    margin-right: 16px;
  }

  .footer__logo {
    display: inline-block;
    text-align: center;
  }

  .message__input {
     margin-bottom: 25px;
  }

  .feedback__btn {
    display: block;
    width: 180px;
    height: 40px;
    font-size: 12px;
    line-height: 15px;
    margin-left: 55px;
    margin-bottom: 12px;
    padding: 10px 10px 9px 10px;
  }

  .feedback__checkbox {
    margin-left: -4px;
  }

}
